Model/lib/rng/wdkModel.rng

<?xml version="1.0" ?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="wdkModel">
      <attribute name="name" />
      <attribute name="displayName" />
      <optional>
          <attribute name="version"/>
      </optional>
      <optional>
          <attribute name="historyDatasetColumnName"/>
      </optional>
      <optional>
          <element name="introduction">
              <text />
          </element>
      </optional>
      <optional>
          <attribute name="historyDatasetLink"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="questionSet" />
          <ref name="querySet" />
          <ref name="queryNameList" />
          <ref name="recordClassSet" />
          <ref name="paramSet" />
          <ref name="xmlQuestionSet" />
          <ref name="xmlRecordClassSet" />
        </choice>
      </oneOrMore>
    </element>
  </start>


  <!-- Schema grouping elements  -->
  <define name="queries">
    <choice>
      <ref name="sqlQuery" />
      <ref name="wsQuery" />
    </choice>
  </define>  
  
  <define name="params">
    <choice>
      <ref name="stringParam" />
      <ref name="flatVocabParam" />
    </choice>
  </define>
  
  <define name="sqlColumns">
    <choice>
      <ref name="sqlColumn" />
    </choice>
  </define>
    
  <define name="wsColumns">
    <choice>
      <ref name="wsColumn" />
    </choice>
  </define>
    
  <define name="attributes">
    <choice>
      <ref name="columnAttribute" />
      <ref name="textAttribute" />
      <ref name="linkAttribute" />
    </choice>
  </define>
    

  <!-- Schema subtype shared elements -->
  <define name="ColumnBaseContents">
    <attribute name="name" />
    <optional>
      <attribute name="specialType" />
    </optional>
    <optional>
      <attribute name="width" />
    </optional>
  </define>

  <define name="ParamBaseContents">
    <attribute name="name" />
    <optional>
      <attribute name="id" />
    </optional>
    <optional>
      <attribute name="prompt" />
    </optional>
    <optional>
      <attribute name="help" />
    </optional>
    <optional>
      <attribute name="visible" />
    </optional>
    <optional>
      <attribute name="readonly" />
    </optional>
    <optional>
      <attribute name="default" />
    </optional>
  </define>

  <define name="QueryBaseContents">
    <optional>
      <attribute name="name" />
    </optional>
    <optional>
      <attribute name="displayName" />
    </optional>
    <optional>
      <attribute name="isCacheable" />
    </optional>
    <optional>
        <element name="description">
            <text />
        </element>        
    </optional>
    <zeroOrMore>
      <element name="paramRef">
        <attribute name="ref" />
        <optional>
           <attribute name="default" />
        </optional>
      </element>
    </zeroOrMore>
  </define>

  <!-- Instance grouping elements -->
  <define name="querySet">
    <element name="querySet">
      <attribute name="name" />
      <oneOrMore>
        <ref name="queries" />
      </oneOrMore>
    </element>
  </define>

  <define name="recordClassSet">
    <element name="recordClassSet">
      <attribute name="name" />
      <oneOrMore>
        <ref name="recordClass" />
      </oneOrMore>
    </element>
  </define>

  <define name="questionSet">
    <element name="questionSet">
      <attribute name="name" />
      <attribute name="displayName" />
      <optional>
          <element name="description">
              <text />
          </element>        
      </optional>
      <optional>
          <attribute name="internal" />
      </optional>
      <oneOrMore>
        <ref name="question" />
      </oneOrMore>
    </element>
  </define>

  <define name="paramSet">
    <element name="paramSet">
      <attribute name="name" />
      <oneOrMore>
        <ref name="params" />
      </oneOrMore>
    </element>
  </define>


  <define name="queryNameList">
    <element name="queryNameList">
      <attribute name="name" />
      <oneOrMore>
        <element name="fullQueryName">
          <attribute name="fullQueryName" />
        </element>
      </oneOrMore>
    </element>
  </define>
   
   
  <!-- Queries -->
  <define name="sqlQuery">
    <element name="sqlQuery">
      <ref name="QueryBaseContents" />
      <oneOrMore>
        <ref name="sqlColumns" />
      </oneOrMore>
      <element name="sql">
        <text />
      </element>
    </element>
  </define>

  
  <define name="wsQuery">
    <element name="wsQuery">
      <ref name="QueryBaseContents" />
      <oneOrMore>
        <ref name="wsColumns" />
      </oneOrMore>
      <attribute name="processName"/>
    </element>
  </define>

  
  <!-- Params -->
  <define name="stringParam">
    <element name="stringParam">
      <ref name="ParamBaseContents" />
      <optional>
        <attribute name="regex" />
      </optional>
      <optional>
        <attribute name="length" />
      </optional>
      <optional>
        <attribute name="sample" />
      </optional>
            <optional>
        <attribute name="substitute" />
      </optional> 
    </element>
  </define>
    
  <define name="flatVocabParam">
    <element name="flatVocabParam">
      <ref name="ParamBaseContents" />
      <optional>
        <attribute name="multiPick" />
      </optional>
      <attribute name="queryRef" />
    </element>
  </define>
   
  <!-- Columns -->
  <define name="sqlColumn">
    <element name="column">
      <ref name="ColumnBaseContents" />
    </element>
  </define>
    
  <define name="wsColumn">
     <element name="wsColumn">
        <ref name="ColumnBaseContents" />
        <optional>
          <attribute name="wsName" />
        </optional>
     </element>
  </define>

  
  <!-- RecordClass -->
  <define name="recordClass">
    <element name="recordClass">
      <attribute name="name" />
      <attribute name="type" />
      <attribute name="idPrefix" />
      <optional>
         <attribute name="attributeOrdering" />
      </optional>

      <!-- the following attribute & element is used by two-part primary key -->
      <optional>
         <attribute name="delimiter" />
      </optional>
  
      <optional>
         <element name="projectParamRef">
             <attribute name="ref" />
         </element>
      </optional>

      <optional>
         <attribute name="aliasQueryRef" />
      </optional>

      <zeroOrMore>  
        <choice>
          <element name="attributeQueryRef">
              <attribute name="ref" />
              <zeroOrMore>
                  <ref name="attributes" />
              </zeroOrMore>
          </element>

          <ref name="table" />

          <ref name="linkAttribute" />

          <ref name="textAttribute" />

          <element name="nestedRecord">
            <attribute name="questionRef" />
          </element>

          <element name="nestedRecordList">
            <attribute name="questionRef" />
          </element>
	</choice>
      </zeroOrMore>
    </element>
  </define>
    


  <!-- Question -->
  <define name="question">
    <element name="question">
      <attribute name="name" />
      <attribute name="displayName" />
      <attribute name="recordClassRef" />
      <attribute name="queryRef" />
      <optional>
           <attribute name="category" />
      </optional>
      <optional>
           <attribute name="summaryAttributesList" />
      </optional>
                 
      <optional>
         <element name="summary">
            <text/>
         </element>        
      </optional>

      <element name="description">
         <text />   
      </element>
 
      <optional>
         <element name="help">
            <text />
         </element>
      </optional>

      <optional>
         <element name="dynamicAttributes">
            <zeroOrMore>
               <choice>
                  <ref name="columnAttribute" />
                  <ref name="linkAttribute" />
                  <ref name="textAttribute" />
               </choice>
            </zeroOrMore>
         </element>
      </optional>
      
    </element>
  </define>
    
  <!-- Attributes -->
  
  <!-- Schema subtype shared elements -->
  <define name="FieldBaseContents">
    <attribute name="name" />
    <optional>
      <attribute name="truncateTo" />
    </optional>
    <optional>
      <attribute name="displayName" />
    </optional>
    <optional>
      <attribute name="help" />
    </optional>
    <optional>
      <attribute name="type" />
    </optional>
    <optional>
      <attribute name="internal" />
    </optional>
    <optional>
      <attribute name="inReportMaker" />
    </optional>
  </define>

  <define name="columnAttribute">
      <element name="columnAttribute">
          <ref name="FieldBaseContents" />
      </element>
  </define>
  
  <define name="table">
    <element name="table">
      <attribute name="queryRef" />
      <ref name="FieldBaseContents" />
      <oneOrMore>
         <ref name="attributes" />
      </oneOrMore>
    </element>
  </define>
  
  <define name ="textAttribute">
    <element name="textAttribute">
      <ref name="FieldBaseContents" />
      <element name="text">
        <text />
      </element>
    </element>
  </define>

  <define name ="linkAttribute">
    <element name="linkAttribute">
      <ref name="FieldBaseContents" />
      <attribute name="visible" />
      <element name="url">
        <text />
      </element>
    </element>
  </define>


  <!-- Set for xmlAnswers -->

  <define name="xmlRecordClassSet">
    <element name="xmlRecordClassSet">
      <attribute name="name" />
      <oneOrMore>
        <ref name="xmlRecordClass" />
      </oneOrMore>
    </element>
  </define>

  <define name="xmlQuestionSet">
    <element name="xmlQuestionSet">
      <attribute name="name" />
      <attribute name="displayName" />
      <optional>
          <element name="description">
              <text />
          </element>        
      </optional>
      <optional>
          <attribute name="isInternal" />
      </optional>
      <oneOrMore>
        <ref name="xmlQuestion" />
      </oneOrMore>
    </element>
  </define>

  <define name="xmlQuestion">
     <element name="xmlQuestion">
        <attribute name="name" />
        <attribute name="displayName" />
        <attribute name="recordClassRef" />
        <attribute name="xmlDataURL" />
        <optional>
           <attribute name="xslURL" />
        </optional>
        <optional>
           <attribute name="summaryAttributesList" />
        </optional>
        <element name="description">
           <text />
        </element>        
        <optional>          
           <element name="help">
              <text />
           </element>        
        </optional>
     </element>
  </define>

  <define name="xmlRecordClass">
     <element name="xmlRecordClass">
        <attribute name="name" />
        <attribute name="type" />
        <attribute name="idPrefix" />
        <optional>
           <attribute name="delimiter" />
        </optional>
        <optional>
           <attribute name="attributeOrdering" />
        </optional>
        <zeroOrMore>
	   <choice>
              <ref name="xmlAttribute" />
              <ref name="xmlTable" />
	   </choice>
        </zeroOrMore>
     </element>
  </define>

  <define name="xmlTable">
     <element name="xmlTable">
        <ref name="FieldBaseContents" />
        <oneOrMore>
           <ref name="xmlAttribute" />
        </oneOrMore>
     </element>
  </define>

  <define name ="xmlAttribute">
      <element name="xmlAttribute">
         <ref name="FieldBaseContents" />
      </element>
  </define>
 
</grammar>
