Model/lib/rng/wdkModel.rng

<?xml version="1.0" ?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="wdkModel">
      <oneOrMore>
        <choice>
        
		  <element name="modelName">
		      <attribute name="name" />
		      <attribute name="displayName" />
		      <attribute name="version"/>
		      <ref name="IncludeExclude"/>
		  </element>
		  
          <element name="introduction">
              <ref name="IncludeExclude"/>
              <text />
          </element>
          
		  <element name="import">
		      <attribute name="file"/>
		  </element>
          
          <element name="defaultPropertyList">
              <ref name="PropertyListContent"/>
          </element>
          
          <ref name="questionSet" />
          
          <ref name="querySet" />
          
          <ref name="recordClassSet" />
          
          <ref name="paramSet" />
          
          <ref name="groupSet" />
          
          <ref name="xmlQuestionSet" />
          
          <ref name="xmlRecordClassSet" />
          
        </choice>
      </oneOrMore>
    </element>
  </start>

  <!-- define inclusion/exclusion attributes -->
  <define name="IncludeExclude">
    <optional>
      <attribute name="includeProjects" />
    </optional>
    <optional>
      <attribute name="excludeProjects" />
    </optional>
  </define>  

    <!-- define base property list content -->
    <define name="PropertyListContent">
        <attribute name="name"/>
        <ref name="IncludeExclude"/>
        <oneOrMore>
            <element name="value">
                <text />
            </element>
        </oneOrMore>
    </define>  

    <!-- define default property list -->
    <define name="propertyList">
        <element name="propertyList">
            <ref name="PropertyListContent"/>
        </element>
    </define>  

  
  <!-- Params -->

	<define name="paramSet">
    	<element name="paramSet">
      		<attribute name="name" />
      		<ref name="IncludeExclude" />
      		<oneOrMore>
      			<choice>
      				<ref name="useTermOnly" />
					<ref name="stringParam" />
					<ref name="enumParam" />
					<ref name="flatVocabParam" />
					<ref name="historyParam" />
					<ref name="datasetParam" />
        		</choice>
      		</oneOrMore>
    	</element>
  	</define>
  
	<define name="stringParam">
		<element name="stringParam">
		  	<ref name="ParamBaseContents" />
		  	<optional>
		    	<attribute name="regex" />
		  	</optional>
		  	<optional>
		    	<attribute name="substitute" />
		  	</optional>
		  	<optional>
		    	<attribute name="length" />
		  	</optional>
		  	<zeroOrMore>
			    <element name="suggest">
			        <ref name="SuggestContent" />
			        <optional>
			        	<attribute name="sample" />
			        </optional>
			        <optional>
			          	<attribute name="default" />
			        </optional>
			    </element>
		  	</zeroOrMore>
		</element>
	</define>
    
  	<define name="historyParam">
    	<element name="historyParam">
      		<ref name="ParamBaseContents" />
      		<zeroOrMore>
        		<element name="suggest">
            		<ref name="SuggestContent" />
        		</element>
      		</zeroOrMore>
    	</element>
  	</define>
    
  	<define name="datasetParam">
    	<element name="datasetParam">
      		<ref name="ParamBaseContents" />
      		<zeroOrMore>
        		<element name="suggest">
            		<ref name="SuggestContent" />
			        <optional>
			        	<attribute name="sample" />
			        </optional>
			        <optional>
			          	<attribute name="default" />
			        </optional>
        		</element>
      		</zeroOrMore>
    	</element>
  	</define>
    
	<define name="enumParam">
		<element name="enumParam">
		  	<ref name="ParamBaseContents" />
		  	<optional>
		    	<attribute name="multiPick" />
		  	</optional>
		  	<zeroOrMore>
		  	    <choice>
			        <element name="suggest">
			    	    <ref name="SuggestContent" />
			        </element>
		    	    <ref name="useTermOnly" />
		    	</choice>
		  	</zeroOrMore>
	    	<oneOrMore>
	    		<element name="enumList">
	    		    <ref name="IncludeExclude" />
        		  	<zeroOrMore>
        		        <ref name="useTermOnly" />
        		  	</zeroOrMore>
        	        <oneOrMore>
    		    		<element name="enumValue">
        					<ref name="IncludeExclude" />
        					<optional>
    				            <attribute name="default" />
    				        </optional>
    				        <optional>
    				          	<element name="display">
    				          	    <text />
    				          	</element>
    				        </optional>
    			          	<element name="term">
    			          	    <text />
    			          	</element>
    			          	<element name="internal">
    			          	    <text />
    			          	</element>
    		    		</element>
    		    	</oneOrMore>
    		    </element>
	    	</oneOrMore>
		</element>
	</define>
    
	<define name="flatVocabParam">
		<element name="flatVocabParam">
		  	<ref name="ParamBaseContents" />
		  	<optional>
		    	<attribute name="multiPick" />
		  	</optional>
		  	<attribute name="queryRef" />
		  	<zeroOrMore>
		  		<choice>
				    <element name="suggest">
				    	<ref name="SuggestContent" />
				        <optional>
				          	<attribute name="default" />
				        </optional>
				    </element>
				    <ref name="useTermOnly" />
			    </choice>
		  	</zeroOrMore>
		</element>
	</define>

  	<define name="ParamBaseContents">
    	<attribute name="name" />
    	<ref name="IncludeExclude" />
    	<optional>
      		<attribute name="id" />
    	</optional>
    	<optional>
      		<attribute name="prompt" />
    	</optional>
    	<optional>
      		<attribute name="visible" />
    	</optional>
    	<optional>
      		<attribute name="readonly" />
    	</optional>
    	<optional>
      		<attribute name="default" />
    	</optional>
    	<zeroOrMore>
  			<element name="help">
    			<ref name="IncludeExclude" />
    			<text />
  			</element>
    	</zeroOrMore>            
  	</define>
  
	<define name="useTermOnly">
    	<element name="useTermOnly">
      		<attribute name="value" />
      		<ref name="IncludeExclude" />
    	</element>
  	</define>  
  
	<define name="SuggestContent">
    	<optional>
    		<attribute name="allowEmpty" />
    	</optional>
    	<ref name="IncludeExclude" />
  	</define>  
  

  <!-- Schema grouping elements  -->
  <define name="queries">
    <choice>
      <ref name="sqlQuery" />
      <ref name="wsQuery" />
    </choice>
  </define>  
  
  <define name="sqlColumns">
    <choice>
      <ref name="sqlColumn" />
    </choice>
  </define>
    
  <define name="wsColumns">
    <choice>
      <ref name="wsColumn" />
    </choice>
  </define>
    
  <define name="attributes">
    <choice>
      <ref name="columnAttribute" />
      <ref name="textAttribute" />
      <ref name="linkAttribute" />
    </choice>
  </define>
    

  <!-- Schema subtype shared elements -->
  <define name="ColumnBaseContents">
    <attribute name="name" />
    <ref name="IncludeExclude" />
    <optional>
      <attribute name="specialType" />
    </optional>
    <optional>
      <attribute name="width" />
    </optional>
  </define>

  <define name="QueryBaseContents">
    <ref name="IncludeExclude" />
    <optional>
      <attribute name="name" />
    </optional>
    <optional>
      <attribute name="displayName" />
    </optional>
    <optional>
      <attribute name="isCacheable" />
    </optional>
    <zeroOrMore>
      <element name="paramRef">
        <attribute name="ref" />
        <ref name="IncludeExclude" />
        <optional>
           <attribute name="default" />
        </optional>
        <optional>
           <attribute name="multiPick" />
        </optional>
        <optional>
           <attribute name="groupRef" />
        </optional>
        <optional>
           <attribute name="allowEmpty" />
        </optional>
        <optional>
           <attribute name="useTermOnly" />
        </optional>
        <optional>
           <attribute name="queryRef" />
        </optional>
      </element>
    </zeroOrMore>
  </define>

  <!-- Instance grouping elements -->
  <define name="querySet">
    <element name="querySet">
      <attribute name="name" />
      <ref name="IncludeExclude" />
      <oneOrMore>
        <ref name="queries" />
      </oneOrMore>
    </element>
  </define>

  <define name="recordClassSet">
    <element name="recordClassSet">
      <attribute name="name" />
      <ref name="IncludeExclude" />
      <oneOrMore>
        <ref name="recordClass" />
      </oneOrMore>
    </element>
  </define>

  <define name="questionSet">
    <element name="questionSet">
      <attribute name="name" />
      <attribute name="displayName" />
      <ref name="IncludeExclude" />
      <optional>
          <attribute name="internal" />
      </optional>
      <zeroOrMore>
          <element name="description">
              <ref name="IncludeExclude"/>
              <text />
          </element>        
      </zeroOrMore>
      <oneOrMore>
        <ref name="question" />
      </oneOrMore>
    </element>
  </define>
   
   
  <!-- Queries -->
  <define name="sqlQuery">
    <element name="sqlQuery">
      <ref name="QueryBaseContents" />
      <oneOrMore>
        <choice>
            <ref name="sqlColumns" />
            
            <element name="sql">
                <ref name="IncludeExclude"/>
                <text />
            </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  
  <define name="wsQuery">
    <element name="wsQuery">
      <ref name="QueryBaseContents" />
      <oneOrMore>
        <ref name="wsColumns" />
      </oneOrMore>
      <attribute name="processName"/>
    </element>
  </define>
      
  <!-- Columns -->
  <define name="sqlColumn">
    <element name="column">
      <ref name="ColumnBaseContents" />
      <optional>
        <attribute name="sortingTable" />
      </optional>
      <optional>
        <attribute name="sortingColumn" />
      </optional>
      <optional>
        <attribute name="lowerCase" />
      </optional>
    </element>
  </define>
    
  <define name="wsColumn">
     <element name="wsColumn">
        <ref name="ColumnBaseContents" />
        <optional>
          <attribute name="wsName" />
        </optional>
     </element>
  </define>

  
  <!-- RecordClass -->
  <define name="recordClass">
    <element name="recordClass">
      <attribute name="name" />
      <attribute name="type" />
      <attribute name="idPrefix" />
      <ref name="IncludeExclude" />
      <optional>
         <attribute name="attributeOrdering" />
      </optional>

      <!-- the following attribute & element is used by two-part primary key -->
      <optional>
         <attribute name="delimiter" />
      </optional>
  
      <optional>
         <element name="projectParamRef">
             <attribute name="ref" />
         </element>
      </optional>
      
      <optional>
         <attribute name="aliasQueryRef" />
      </optional>

      <zeroOrMore>  
        <choice>
           <element name="reporter">
             <attribute name="name" />
             <attribute name="displayName" />
             <ref name="IncludeExclude" />
             <optional>
                <attribute name="inReportMaker" />
             </optional>
             <optional>
                 <attribute name="implementation" /> 
             </optional>
             
             <zeroOrMore>
                <element name="property" >
                    <attribute name="name" />
                    <ref name="IncludeExclude" />
                        <text />
                </element>
             </zeroOrMore>
           </element>
           
          <element name="attributeQueryRef">
              <attribute name="ref" />
              <ref name="IncludeExclude" />
              <zeroOrMore>
                  <ref name="attributes" />
              </zeroOrMore>
          </element>

          <ref name="table" />
          <ref name="linkAttribute" />
          <ref name="textAttribute" />

          <element name="nestedRecord">
            <attribute name="questionRef" />
            <ref name="IncludeExclude" />
          </element>

          <element name="nestedRecordList">
            <attribute name="questionRef" />
            <ref name="IncludeExclude" />
          </element>
	    </choice>
      </zeroOrMore>
    </element>
  </define>
    


  <!-- Question -->
  <define name="question">
    <element name="question">
      <attribute name="name" />
      <attribute name="displayName" />
      <attribute name="recordClassRef" />
      <attribute name="queryRef" />
      <ref name="IncludeExclude" />
      <optional>
           <attribute name="category" />
      </optional>
                 
      <zeroOrMore>
        <choice>
             <ref name="propertyList"/>
             
             <element name="summary">
                 <ref name="IncludeExclude"/>
                 <text />
             </element>
             
             <element name="description">
                 <ref name="IncludeExclude"/>
                 <text />
             </element>
             
             <element name="help">
                 <ref name="IncludeExclude"/>
                 <text />
             </element>
             
             <element name="attributesList">
                <ref name="IncludeExclude" />
                <optional>
                    <attribute name="summary" />
                </optional>
                <optional>
                    <attribute name="sorting" />
                </optional>
             </element>
             
             <element name="dynamicAttributes">
                <ref name="IncludeExclude" />
                <zeroOrMore>
                   <choice>
                      <ref name="columnAttribute" />
                      <ref name="linkAttribute" />
                      <ref name="textAttribute" />
                   </choice>
                </zeroOrMore>
             </element>
        </choice>     
      </zeroOrMore>
      
    </element>
  </define>
    
  <!-- Attributes -->
  
  <!-- Schema subtype shared elements -->
  <define name="FieldBaseContents">
    <attribute name="name" />
    <ref name="IncludeExclude" />
    <optional>
      <attribute name="truncateTo" />
    </optional>
    <optional>
      <attribute name="displayName" />
    </optional>
    <optional>
      <attribute name="help" />
    </optional>
    <optional>
      <attribute name="type" />
    </optional>
    <optional>
      <attribute name="internal" />
    </optional>
    <optional>
      <attribute name="inReportMaker" />
    </optional>
    <optional>
      <attribute name="align" />
    </optional>
    <optional>
      <attribute name="nowrap" />
    </optional>
    <optional>
      <attribute name="sortable" />
    </optional>
  </define>

    <define name="columnAttribute">
        <element name="columnAttribute">
            <ref name="FieldBaseContents" />
        </element>
    </define>
  
  <define name="table">
    <element name="table">
      <attribute name="queryRef" />
      <ref name="FieldBaseContents" />
      <oneOrMore>
         <ref name="attributes" />
      </oneOrMore>
    </element>
  </define>
  
    <define name ="textAttribute">
        <element name="textAttribute">
            <ref name="FieldBaseContents" />
            <oneOrMore>
                <element name="text">
                    <ref name="IncludeExclude" />
                    <text />
                </element>
            </oneOrMore>
        </element>
    </define>
    
    <define name ="linkAttribute">
        <element name="linkAttribute">
            <ref name="FieldBaseContents" />
            <attribute name="visible" />
            <oneOrMore>
                <element name="url">
                    <ref name="IncludeExclude" />
                    <text />
                </element>
            </oneOrMore>
        </element>
    </define>


  <!-- Set for xmlAnswers -->

  <define name="xmlRecordClassSet">
    <element name="xmlRecordClassSet">
      <attribute name="name" />
      <ref name="IncludeExclude" />
      <oneOrMore>
        <ref name="xmlRecordClass" />
      </oneOrMore>
    </element>
  </define>

  <define name="xmlQuestionSet">
    <element name="xmlQuestionSet">
      <attribute name="name" />
      <attribute name="displayName" />
      <ref name="IncludeExclude" />
      <optional>
          <attribute name="isInternal" />
      </optional>
      <zeroOrMore>
          <element name="description">
              <text />
          </element>        
      </zeroOrMore>
      <oneOrMore>
        <ref name="xmlQuestion" />
      </oneOrMore>
    </element>
  </define>

  <define name="xmlQuestion">
     <element name="xmlQuestion">
        <attribute name="name" />
        <attribute name="displayName" />
        <attribute name="recordClassRef" />
        <attribute name="xmlDataURL" />
        <ref name="IncludeExclude" />
       <optional>
           <attribute name="xslURL" />
        </optional>
        <optional>
           <attribute name="summaryAttributesList" />
        </optional>
        <zeroOrMore>
            <choice>
                <element name="description">
                    <text />
                </element>        
                <element name="help">
                    <text />
                </element>        
            </choice>
        </zeroOrMore>
     </element>
  </define>

  <define name="xmlRecordClass">
     <element name="xmlRecordClass">
        <attribute name="name" />
        <attribute name="type" />
        <attribute name="idPrefix" />
        <ref name="IncludeExclude" />
        <optional>
           <attribute name="delimiter" />
        </optional>
        <optional>
           <attribute name="attributeOrdering" />
        </optional>
        <zeroOrMore>
	   <choice>
              <ref name="xmlAttribute" />
              <ref name="xmlTable" />
	   </choice>
        </zeroOrMore>
     </element>
  </define>

  <define name="xmlTable">
     <element name="xmlTable">
        <ref name="FieldBaseContents" />
        <oneOrMore>
           <ref name="xmlAttribute" />
        </oneOrMore>
     </element>
  </define>

  <define name ="xmlAttribute">
      <element name="xmlAttribute">
         <ref name="FieldBaseContents" />
      </element>
  </define>
 
  <!-- grouping set -->
  <define name="groupSet">
    <element name="groupSet">
      <attribute name="name" />
      <ref name="IncludeExclude" />
      <oneOrMore>
        <ref name="group" />
      </oneOrMore>
    </element>
  </define>

  <define name="group">
     <element name="group">
        <attribute name="name" />
        <attribute name="displayName" />
        <ref name="IncludeExclude" />
        <optional>
            <attribute name="displayType" />
        </optional>
        <zeroOrMore>
            <element name="description">
                <ref name="IncludeExclude" />
                <text />
            </element>        
        </zeroOrMore>
     </element>
  </define>
  
</grammar>
