Model/lib/rng/wdkModel-config.rng

<?xml version="1.0" encoding="UTF-8" ?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="modelConfig">
            <attribute name="modelName" />
            <attribute name="webServiceUrl" />
            <attribute name="smtpServer" />
            <attribute name="supportEmail" />
            <optional>
                <attribute name="smtpUsername" />
            </optional>
            <optional>
                <attribute name="smtpPassword" />
            </optional>
            <optional>
                <attribute name="smtpTlsEnabled">
                    <data type="boolean" />
                </attribute>
            </optional>
            <optional>
                <attribute name="smtpPort">
                    <data type="unsignedShort" />
                </attribute>
            </optional>

            <optional>
                <attribute name="webAppUrl" />
            </optional>
            <optional>
                <attribute name="assetsUrl" />
            </optional>
            <optional>
                <attribute name="secretKeyFile" />
            </optional>
            <optional>
                <attribute name="secretKey" />
            </optional>
            <optional>
                <attribute name="adminEmail" />
            </optional>
            <attribute name="wdkTempDir" />
            <optional>
                <attribute name="useWeights">
                    <data type="boolean" />
                </attribute>
            </optional>
            <optional>
                <attribute name="monitorBlockedThreads">
                    <data type="boolean" />
                </attribute>
            </optional>
            <optional>
                <attribute name="blockedThreshold">
                    <data type="unsignedShort" />
                </attribute>
            </optional>
            <!-- enable or disable global caching. default enabled, and then each individual sqlQuery can 
                 control their own cache behavior. if global caching is disabled, then caching on sqlQuery 
                 will always be disabled, regardless of the individual setting on the query.
                 Please note that this flag has no effect on processQueries, which is always cached. -->
            <optional>
                <attribute name="caching">
                    <data type="boolean" />
                </attribute>
            </optional>
            <optional>
                <attribute name="authenticationMethod"/>
            </optional>
            <optional>
                <attribute name="oauthUrl"/>
            </optional>
            <optional>
                <attribute name="oauthClientId"/>
            </optional>
            <optional>
                <attribute name="oauthClientSecret"/>
            </optional>
            <optional>
                <attribute name="changePasswordUrl"/>
            </optional>
            <optional>
                <attribute name="keyStoreFile"/>
            </optional>
            <optional>
                <attribute name="keyStorePassPhrase"/>
            </optional>

            <interleave>

                <optional>
                    <ref name="queryMonitor" />
                </optional>

                <optional>
                    <element name="paramRegex">
                        <text />
                    </element>
                </optional>

                <element name="appDb">
                    <ref name="DBBaseContent" />
                    <attribute name="userDbLink" />
                    <attribute name="remoteUserDataSchema" />
                    <optional>
                        <attribute name="maxPkColumnWidth">
                            <data type="unsignedShort" />
                        </attribute>
                    </optional>
                </element>

                <element name="userDb">
                    <ref name="DBBaseContent" />
                    <attribute name="userSchema" />
                </element>

                <optional>
                    <element name="userDatasetStore">
                        <attribute name="implementation"/>
                        <zeroOrMore>
                            <element name="property">
                                <attribute name="name" />
                                <text />
                            </element>
                        </zeroOrMore>
                        <oneOrMore>
                            <element name="typeHandler">
                                <attribute name="type"/>
                                <attribute name="version"/>
                                <attribute name="implementation"/>
                            </element>
                        </oneOrMore>
                    </element>
                </optional>

                <element name="emailSubject">
                    <text />
                </element>

                <element name="emailContent">
                    <text />
                </element>

            </interleave>
        </element>
    </start>

    <!-- define query monitor -->
    <define name="queryMonitor">
        <element name="queryMonitor">
          <optional>
            <attribute name="baseline">
              <data type="float" />
            </attribute>
          </optional>
          <optional>
            <attribute name="slow">
              <data type="float" />
            </attribute>
          </optional>
          <zeroOrMore>
            <choice>
              <element name="ignoreSlowRegex">
                <text />
              </element>
              <element name="ignoreBaselineRegex">
                <text />
              </element>
            </choice>
          </zeroOrMore>
        </element>
    </define>

    <!-- define the common properties for DB connections -->
    <define name="DBBaseContent">

        <!-- Login Credentials -->

        <attribute name="login" />
        <attribute name="password" />

        <!-- Connection Information -->
        <!--   May connect via:
          [
            LDAP host[:port] + baseDn + database identifier (TNS or PG DB name) (platform is derived)
            -OR-
            host + port (optional) + database identifier + platform
            -OR-
            DB connection URL (platform is derived)
          ]
        -->

        <optional>
          <attribute name="connectionUrl" />
        </optional>
        <optional>
          <attribute name="platform">
            <choice>
                <value>Oracle</value>
                <value>PostgreSQL</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="ldapServer" />
        </optional>
        <optional>
          <attribute name="ldapBaseDn" />
        </optional>
        <optional>
          <attribute name="ldapCommonName" />
        </optional>
        <optional>
          <attribute name="dbIdentifier" />
        </optional>
        <optional>
          <attribute name="dbHost" />
        </optional>
        <optional>
          <attribute name="dbPort" />
        </optional>


        <!-- Connection Pool Settings -->

        <optional>
            <attribute name="maxActive">
                <data type="unsignedShort" />
            </attribute>
        </optional>
        <optional>
            <attribute name="maxIdle">
                <data type="unsignedShort" />
            </attribute>
        </optional>
        <optional>
            <attribute name="minIdle">
                <data type="unsignedShort" />
            </attribute>
        </optional>
        <optional>
            <attribute name="maxWait">
                <data type="unsignedShort" />
            </attribute>
        </optional>

        <!-- Other Database Settings -->

        <optional>
            <attribute name="defaultFetchSize">
                <data type="unsignedShort" />
            </attribute>
        </optional>
        <optional>
            <attribute name="driverInitClass">
                <data type="string" />
            </attribute>
        </optional>
        <optional>
            <group>
                <attribute name="showConnections">
                    <data type="boolean" />
                </attribute>
                <optional>
                    <attribute name="showConnectionsInterval">
                        <data type="unsignedLong" />
                    </attribute>
                </optional>
                <optional>
                    <attribute name="showConnectionsDuration">
                        <data type="long" />
                    </attribute>
                </optional>
            </group>
        </optional>
    </define>
</grammar>
